---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";
const { url, title, pubDate, image, tags, duration, episodeNumber } = {
  url: "/podcast/episodes/" + Astro.props.post.id,
  tags: Astro.props.post.data.tags,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
  duration: Astro.props.post.data.duration,
  episodeNumber: Astro.props.post.data.episodeNumber,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<article class="relative flex flex-col group">
  <a href={url} title={title} class="absolute inset-0 z-10"> </a>

  <Image
    src={image}
    alt={title}
    width={800}
    height={800}
    loading="eager"
    decoding="async"
    class="object-cover w-full aspect-12/8 rounded-xl"
  />
  <div class="mt-2">
    <div class="flex items-center gap-x-2 text-base-600">
      <span>
        {
          tags.map((tag) => {
            const formattedTag = tag.replace(/-/g, " ");
            return (
              <Text
                tag="p"
                variant="textXS"
                title={tag}
                aria-label={tag}
                class="capitalize"
              >
                {formattedTag}
              </Text>
            );
          })
        }
      </span>
      <span>·</span>
      <Text tag="p" variant="textXS">
        <time datetime={pubDate}>{pubDate}</time>
      </Text>
    </div>
    <Text tag="p" variant="textXS" class="text-base-600 font-medium mt-2">
      <span>Episdoe: {episodeNumber}</span>
      <span>·</span>
      <span>Duration: {duration}</span>
    </Text>
    <Text
      tag="h3"
      variant="textBase"
      class="flex items-start justify-between gap-4 mt-1 text-base-900 group-hover:underline font-display"
    >
      {title}
    </Text>
  </div>
</article>
