---
import Text from "@/components/fundations/elements/Text.astro";
const { url, title, jobType, location, salaryRange, pubDate, category } = {
  url: "/jobs/" + Astro.props.post.id,
  title: Astro.props.post.data.title,
  jobType: Astro.props.post.data.jobType,
  location: Astro.props.post.data.location,
  salaryRange: Astro.props.post.data.salaryRange,
  category: Astro.props.post.data.category,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div
  class="relative group pb-4 before:absolute after:absolute before:bg-base-950 after:bg-base-950/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px pt-4"
>
  <a href={url} title={title} aria-label={title} class="absolute inset-0 z-10"
  ></a>
  <Text tag="p" variant="textXS" class="text-base-600">
    {category}
  </Text>
  <div
    class="flex flex-col lg:flex-row md:items-start mt-2 gap-2 lg:justify-between"
  >
    <Text
      tag="h3"
      variant="textBase"
      class="text-base-900 font-medium font-display group-hover:underline"
    >
      {title}
    </Text>
    <Text tag="p" variant="textXS" class="flex items-center gap-1">
      <span>{location} </span>
      <span>/</span>
      <span class="font-medium text-base-900">
        <time datetime={pubDate}>{pubDate}</time>
      </span>
    </Text>
  </div>
  <div class="mt-2">
    <Text tag="p" variant="textXS" class="flex items-center gap-1">
      <span>{jobType}</span>
      <span>/</span>
      <span> {salaryRange}</span>
    </Text>
  </div>
</div>
