---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";
import readingTime from "reading-time";

const { url, title, image, pubDate, tags } = {
  url: "/blog/posts/" + Astro.props.post.id,
  tags: Astro.props.post.data.tags,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};

// Calculate reading time
const stats = readingTime(Astro.props.post.body);
---

<article class="relative group">
  <a href={url} title={title} class="absolute inset-0 z-10"> </a>
  <div class="grid grid-cols-3 gap-4">
    <Image
      src={image}
      alt={title}
      width={800}
      height={800}
      loading="eager"
      decoding="async"
      class="object-cover aspect-12/8 w-full rounded-lg object-top"
    />
    <div class="col-span-2 flex flex-col justify-between h-full">
      <Text
        tag="h3"
        variant="textBase"
        class="text-base-900 font-display group-hover:underline"
      >
        {title}
      </Text>
      <div class="flex items-center gap-x-2 text-base-600">
        <span>
          {
            tags.map((tag) => {
              const formattedTag = tag.replace(/-/g, " ");
              return (
                <Text
                  tag="p"
                  variant="textXS"
                  title={tag}
                  aria-label={tag}
                  class="capitalize"
                >
                  {formattedTag}
                </Text>
              );
            })
          }
        </span>
        <span>·</span>
        <Text tag="p" variant="textXS">
          <time datetime={pubDate}>{pubDate}</time>
          <span aria-hidden="true">·</span>
          {stats.text}
        </Text>
      </div>
    </div>
  </div>
</article>
